
.text-box{
    min-height: 50px;
    width: 300px;
    border-radius: 5px;
    border: 2px dashed #abced4;
    background: #abced444;
    margin:auto; 
    padding: 1rem; 
    font-size: 4rem;
    text-align: center;
    box-shadow: -5px -5px #abced444;
   
}

#border-box{
    width:300px; height:150px;
    padding:1em;
    box-sizing: border-box;
}
#content-box{
    width:300px; height:150px;
    padding:1em;
    box-sizing: content-box;
}
